@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @apply antialiased bg-gray-50;
    font-family: system-ui, -apple-system, sans-serif;
}
}

@layer utilities {
  .placeholder-custom::placeholder {
    color: #3F214C;
  }
}
